{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_bulk_enrollment/enrolled


    Example courses (json):
    {

    }
}}

<link rel="stylesheet" type="text/css" href="/enrol/bulk_enrollment/css/bulk_enrollment.css">
<link rel="stylesheet" type="text/css" href="/enrol/bulk_enrollment/css/ladda.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.3/sweetalert2.min.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    .ladda-button[data-size="xs"] {
        padding: 0px 8px !important;
    }
</style>
<form action="/enrol/bulk_enrollment/request_enrolled.php" method="POST" id="bulk_enrolled">
    <div class="row course-enrolment-section">
        <div class="col-md-6">
            <div style="margin: 45px 0;">
                <label for="courses_category" style="width: 100%;">
                    Select Any Courses
                    <select class="courses_category select2" id="courses_category" data-placeholder="Choose Course Category">
                        <option value=""></option>
                        {{#courses_category}}
                        <option value="{{id}}">{{name}}</option>
                        {{/courses_category}}
                    </select>
                </label>
                <div style="text-align: center;">
                    <button class="btn btn-info ladda-button" data-color="blue" data-size="xs" type="button" id="search_courses" data-style="zoom-in" style="margin-top: 10px;"><label class="ladda-label">Search</label></button>
                </div>
            </div>

            <div id="courses_list">
                <hr/>
                <input type="text" class="search" placeholder="Search..." />
                <input type="hidden" name="courses" id="courses" />

                <ul class="list" id="list_courses"></ul>
            </div>
        </div>

        <div class="col-md-6">
            <div style="margin: 10px;">
                <label for="program_id" style="width: 100%;">
                    Select Any Program
                    <select class="program_id select2" id="program_id" data-placeholder="Choose Program">
                        <option value=""></option>
                        <option value="all">All</option>
                        {{#programs}}
                        <option value="{{id}}">{{title}}</option>
                        {{/programs}}
                    </select>
                </label>

                <label for="batch_id" style="width: 100%;">
                    Select Any Batches
                    <select class="batch_id select2" id="batch_id" data-placeholder="Choose Batch">
                        <option value=""></option>
                    </select>
                </label>
                <div style="text-align: center;">
                    <button class="btn btn-info ladda-button" data-color="blue" data-size="xs" type="button" id="search_students" data-style="zoom-in" style="margin-top: 10px;"><label class="ladda-label">Search</label></button>
                </div>
            </div>

            <div id="users_list">
                <hr/>
                <input type="text" class="search" placeholder="Search..." />
                <input type="hidden" name="users" id="users" />

                <ul class="list"></ul>
            </div>
        </div>

        <div class="col-md-12" id="selected_users">
            <h3>Selected users</h3>
            <p id="selected-users-list-empty">No users selected</p>
            <ul class="selected-users-list"></ul>
        </div>
    </div>

    <div class="row" style="margin-top: 16px;">
        <div class="col-md-12" id="output_users" style="display: none;padding: 0;">
            <h3>Submitted Result</h3>
            <p id="selected-users-list-empty">No users selected</p>
            <ul class="selected-users-list">

            </ul>
        </div>
    </div>
    <div style="text-align: center;">
        <button class="btn btn-info btn-lg ladda-button Large" id="bulk_enrol_btn" type="submit" data-style="expand-right" style="margin-top: 15px"><span class="ladda-label">Verify</span></button>
        <button class="btn btn-primary btn-lg ladda-button Large" id="bulk_enrol_btn_submit" type="submit" data-style="expand-right" style="margin-top: 15px;display: none"><span class="ladda-label">Submit</span></button>
        <a href="/enrol/bulk_enrollment/enrolled.php"><button class="btn btn-warning" type="button" style="margin-top: 15px;"><span class="ladda-label">Reset</span></button></a>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="/enrol/bulk_enrollment/js/spin.min.js"></script>
<script src="/enrol/bulk_enrollment/js/ladda.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.3/sweetalert2.min.js"></script>

<textarea id="api_std" hidden>{{api_std}}</textarea>
<script type="text/javascript">
    let btn_txt = "bulk_enrol_btn";
    let uri = "/enrol/bulk_enrollment/request_enrolled.php";
    let exists_std = [];

    let options = {
        valueNames: [
            'full_name',
            'student_email',
            'dept',
            {data: ['id','email','name'] },
        ],
        item: '<li class="user-item student-${id} col-xs-12" onclick="toggleUser(this)"><p class="full_name name col-xs-5"></p><p class="student_email email col-xs-7" style="text-align: right"></p><p class="dept col-xs-12" style="font-weight: 400;">CSE</p></li>',
    };
    let options_course_list = {
        valueNames: [
            'fullname',
            'shortname',
            { data: ['id'] },
        ],
        item: '<li class="course-item" onclick="toggleCourse(this)"><span class="fullname"></span> - (<span class="shortname"></span>)</li>'
    };
    let userList = new List('users_list', options);
    let courseList = new List('courses_list', options_course_list);

    $(function () {
        $('.select2').select2({
            theme: "classic",
            width: '100%',
        });
        $('#program_id').on('select2:select', function (e) {
            let obj = e.params.data;
            $.ajax({
                url: '/enrol/bulk_enrollment/api.php',
                method: 'POST',
                data: {
                    program_id: obj.id,
                },
                success: function (res) {
                    if (res){
                        let bs = $('#batch_id');
                        bs.append(new Option('','',true,true));
                        let batches = JSON.parse(res);
                        for (let batch of batches){
                            const option = new Option(batch.batch_title,batch.batch_title,true,true);
                            bs.append(option);
                        }
                        bs.val('');
                        bs.trigger('change');
                    }
                },
                error: function (err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: "System Error!! Error Code: ". err.status,
                    });
                }
            });
        });

        $("#bulk_enrolled").submit(function (e) {
            e.preventDefault();
            this.blur();

            let l = Ladda.create(document.querySelector("#"+btn_txt));
            l.start();

            let form = new FormData(this);

            let course = $("#courses").val();
            let users = $("#users").val();

            if (course && users){
                $.ajax({
                    url: uri,
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form,
                    type: "POST",
                    success: (res)=>{
                        $("#output_users").html(res);
                        $("#output_users").show();
                        $("#selected_users").hide();
                        setTimeout(()=>{
                            l.stop();
                            uri = "/enrol/bulk_enrollment/submit_enrolled.php";
                            $("#"+btn_txt).hide();
                            btn_txt = "bulk_enrol_btn_submit";
                            $("#"+btn_txt).show();
                        },500);
                    },
                    error: (err)=>{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "System Error ! error code: " + err.status,
                        });
                        setTimeout(()=>{
                            l.stop();
                        },1500);
                    }
                });
            }else{
                Swal.fire({
                    icon: 'warning',
                    title: 'Oops...',
                    text: 'Please select any courses & students!',
                });
                setTimeout(()=>{
                    l.stop();
                },1500);
            }
        })

        $("#search_courses").click(function(){
            let l = Ladda.create(this);
            l.start();
            let category = $("#courses_category").val().trim();
            if (category){
                $.ajax({
                    url: "/enrol/bulk_enrollment/api.php",
                    data: {'category_id':category},
                    method: 'POST',
                    success: (res)=>{
                        if (res){
                            let courses = JSON.parse(res);
                            let courses_fm_list = [];
                            for (let i in courses){
                                let course = courses[i];
                                courses_fm_list.push({
                                    fullname: course.fullname,
                                    shortname: course.shortname,
                                    id: course.id,
                                });
                            }
                            courseList.add(courses_fm_list);
                            $("#courses_category").find(':selected').attr('disabled','disabled');
                            $("#courses_category").val("").trigger('change');
                        }
                        l.stop();
                    },
                    error: (err)=>{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "System Error!! Error Code: ". err.status,
                        });
                        setTimeout(()=>{
                            l.stop();
                        },1000);
                    }
                });
            }else{
                Swal.fire({
                    icon: 'warning',
                    title: 'empty...',
                    text: "Please Select Any Course Category",
                });
                setTimeout(()=>{
                    l.stop();
                },1000);
            }
        });

        $("#search_students").click(function(){
            let l = Ladda.create(this);
            l.start();
            let program_id = $("#program_id").val().trim();
            let batch_id = $("#batch_id").val().trim();
            if (program_id){
                $.ajax({
                    url: "/enrol/bulk_enrollment/api.php",
                    data: {
                        program: program_id,
                        batch: batch_id,
                    },
                    method: 'POST',
                    success: (res)=>{
                        if (res){
                            let students = JSON.parse(res);
                            let students_fm_list = [];
                            for (let i in students){
                                let student = students[i];
                                if (!exists_std.includes(student.id)){
                                    students_fm_list.push({
                                        full_name: student.firstname + ' ' + student.lastname,
                                        student_email: student.email,
                                        name: student.firstname + ' ' + student.lastname,
                                        email: student.email,
                                        dept: student.program_id + ' (' + student.batch_id + ')',
                                        id: student.id,
                                    });
                                    exists_std.push(student.id);
                                }
                            }
                            userList.add(students_fm_list);
                        }
                        l.stop();
                    },
                    error: (err)=>{
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "System Error!! Error Code: ". err.status,
                        });
                        setTimeout(()=>{
                            l.stop();
                        },1000);
                    }
                });
            }else{
                Swal.fire({
                    icon: 'warning',
                    title: 'empty...',
                    text: "Please Select Any Program",
                });
                setTimeout(()=>{
                    l.stop();
                },1000);
            }
        });
    });


    $('#users_list .search').keydown(function(e){
        if(e.keyCode == 13){
            e.preventDefault()
        }
    })
    let selected_users = [];
    function toggleUser(el)
    {
        var id =  el.getAttribute('data-id')
        var email =  el.getAttribute('data-email')
        var name = el.getAttribute('data-name')

        el.classList.toggle('selected')

        if(selected_users.includes(id))
        {
            let index = selected_users.indexOf(id)
            selected_users.splice(index, 1)

            $('.selected-user-item-' + id).remove()

            updateSelectedUsersListEmptyMessage()
        }
        else
        {
            selected_users.push(id)

            $('.selected-users-list').append(`
				<li class="selected-user-item selected-user-item-`+ id +`">`
                    + name + ` - `  + email +
                    `<img class="selected-user-item-close" src="/course/icons/close.png">
				</li>
			`)

            $('.selected-user-item-'+ id).click(function(e)
            {
                $('.selected-user-item-' + id).remove()

                let index = selected_users.indexOf(id)
                selected_users.splice(index, 1)

                el.classList.remove('selected')

                updateSelectedUsersListEmptyMessage()
            })
        }

        let hidden_input = $('input[name="users"]');

        hidden_input.val(selected_users.join(','))

        updateSelectedUsersListEmptyMessage()
    }

    function updateSelectedUsersListEmptyMessage()
    {
        if(selected_users.length == 0)
        {
            $('#selected-users-list-empty').text('No users selected')
        }
        else
        {
            $("#selected-users-list-empty").text('');
        }
    }

    var selected_courses = [];
    function toggleCourse(el)
    {
        var id =  el.getAttribute('data-id')

        el.classList.toggle('selected')

        if(selected_courses.includes(id))
        {
            let index = selected_courses.indexOf(id)
            selected_courses.splice(index, 1)
        }
        else
        {
            selected_courses.push(id)
        }

        let hidden_input = $('input[name="courses"]');

        hidden_input.val(selected_courses.join(','))
    }
</script>