{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_bulk_enrollment/enrolled


    Example context (json):
    {

    }
}}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/course/css/bulk_enrollment.css">

<form action="" method="POST">
    <div class="row course-enrolment-section">
        <div class="col-md-6">
            <h4>Courses</h4>
            <div id="courses_list">
                <input type="text" class="search" placeholder="Search...">
                <input type="hidden" name="courses">

                <ul class="list">
                    {{#courses}}
                    <li class="course-item" data-id="{{id}}" onclick="toggleCourse(this)">
                        <p class="name">
                            {{fullname}}
                        </p>
                    </li>
                    {{/courses}}
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Users</h4>
            <div id="users_list">
                <input type="text" class="search" placeholder="Search...">
                <input type="hidden" name="users">

                <ul class="list">
                    {{#students}}
                    <li class="user-item student-{{id}} col-xs-12"
                        data-id="{{id}}" data-email="{{email}}"
                        data-name="{{firstname}} {{lastname}}"
                        onclick="toggleUser(this)">
                        <p class="name col-xs-5">
                            {{firstname}} {{lastname}}
                        </p>
                        <p class="email col-xs-7">{{email}}</p>
                        <p class="dept col-xs-12">
                            {{department}} - {{idnumber}}
                        </p>
                    </li>
                    {{/students}}
                </ul>
            </div>
        </div>
        <div class="col-md-12">
            <h3>Selected users</h3>
            <p id="selected-users-list-empty">No users selected</p>
            <ul class="selected-users-list">

            </ul>
        </div>
    </div>
    <button class="btn btn-primary pull-right" style="margin-top: 15px" type="submit">Submit</button>
</form>

<script src="/theme/jquery.php/core/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<textarea id="api_std" hidden>{{api_std}}</textarea>
<script type="text/javascript">
    var users_info = JSON.parse($("#api_std").val().trim());

    for (var i = 0; i < users_info.length; i++)
    {
        var user_info = users_info[i][0]

        if(user_info)
        {
            console.log(user_info)
            console.log($('.user-item[data-email="'+ user_info.username +'"]'));

            $('.user-item[data-email="'+ user_info.username +'"]')
                    .append(
                            `<p class='info'>` +
                            ((user_info.is_active) ? "Active" : "Inactive") +
                            ", Shift - " + user_info.shift
                            + "</p>")
                    .append(
                            `<p class='payment-info'>` +
                            "Next Payment Amount - " + user_info.next_payment_amount + " BDT"
                            + "</p>")
        }
    }

    var options = {
        valueNames: ['name']
    };

    var userList = new List('users_list', options);
    console.log('list: ', userList)

    option = {
        valueNames: ['name']
    }
    var courseList = new List('courses_list', options);

    $('#users_list .search').keydown(function(e)
    {
        if(e.keyCode == 13)
        {
            e.preventDefault()
        }
    })

    let selected_users = []
    function toggleUser(el)
    {
        var id =  el.getAttribute('data-id')
        var email =  el.getAttribute('data-email')
        var name = el.getAttribute('data-name')

        el.classList.toggle('selected')

        if(selected_users.includes(id))
        {
            let index = selected_users.indexOf(id)
            selected_users.splice(index, 1)

            $('.selected-user-item-' + id).remove()

            updateSelectedUsersListEmptyMessage()
        }
        else
        {
            selected_users.push(id)

            $('.selected-users-list').append(`
				<li class="selected-user-item selected-user-item-`+ id +`">`
                    + name + ` - `  + email +
                    `<img class="selected-user-item-close" src="/course/icons/close.png">
				</li>
			`)

            $('.selected-user-item-'+ id).click(function(e)
            {
                $('.selected-user-item-' + id).remove()

                let index = selected_users.indexOf(id)
                selected_users.splice(index, 1)

                el.classList.remove('selected')

                updateSelectedUsersListEmptyMessage()
            })
        }

        let hidden_input = $('input[name="users"]');

        hidden_input.val(selected_users.join(','))

        updateSelectedUsersListEmptyMessage()
    }

    function updateSelectedUsersListEmptyMessage()
    {
        if(selected_users.length == 0)
        {
            $('#selected-users-list-empty').text('No users selected')
        }
        else
        {
            $("#selected-users-list-empty").text('');
        }
    }

    var selected_courses = []
    function toggleCourse(el)
    {
        var id =  el.getAttribute('data-id')

        el.classList.toggle('selected')

        if(selected_courses.includes(id))
        {
            let index = selected_courses.indexOf(id)
            selected_courses.splice(index, 1)
        }
        else
        {
            selected_courses.push(id)
        }

        let hidden_input = $('input[name="courses"]');

        hidden_input.val(selected_courses.join(','))
    }
</script>